<!doctype html>
<html data-layout-decorator="default">
<head>
</head>
<body>
	<div data-layout-fragment="content">
		<div class="col">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Text</th>
						<th scope="col">Ansvarig</th>
						<th scope="col">Skapad</th>
						<th scope="col">Önskat datum</th>
						<th scope="col">Status</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="activity : ${activity}">
						<td data-th-text="${#strings.abbreviate(activity.text,100)}">text</td>
						<td data-th-text="${activity.owner?.initials}">initials</td>
						<td data-th-text="${#dates.format(activity.pubDate, 'yyyy-MM-dd')}">pubdate</td>
						<td data-th-text="${#dates.format(activity.requestDate, 'yyyy-MM-dd')}">requestdate</td>
						<td data-th-text="${activity.status}">status</td>
						<td>
							<a data-th-href="@{'/activity/'+${activity.id}}">Visa</a> | 
							<a data-th-href="@{'/activity/remove/'+${activity.id}}">Ta bort</a></td>
						<!-- 
						<td>
							<ul class="list-unstyled">
								<li data-th-each="comment : ${activity.comments}">
									<p data-th-text="${comment.text}">comment></p>
								</li>
								<li><a href="#">Lägg till</a></li>
							</ul>
						</td>
						 -->
					</tr>
				</tbody>
			</table>
			<a data-th-href="@{'/activity/add'}">Skapa ny aktivitet</a>
		</div>
	</div>
	<div data-layout-decorator="scripts"></div>
</body>
</html>