<!doctype html>
<html data-layout-decorator="default">
<head>

</head>
<body>

	<div class="col-sm-8" data-layout-fragment="content">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Förnamn</th>
					<th scope="col">Efternamn</th>
					<th scope="col">Initialer</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row" data-th-text="${user.id}">id</td>
					<td data-th-text="${user.fName}">fnamne</td>
					<td data-th-text="${user.lName}">lnamne</td>
					<td data-th-text="${user.initials}">initials</td>
					<td scope="row">
						<a data-th-href="@{'/users/'+${user.id}}">view </a>
						<a data-th-href="@{'/users/edit/'+${user.id}}">edit </a>
						<a data-th-href="@{'/users/remove/'+${user.id}}">delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a href="/users/">back to users!</a>
	</div>
	<div data-layout-decorator="scripts"></div>
</body>
</html>