<!doctype html>
<html data-layout-decorator="default">
<head>
</head>
<body>
	<div class="col-sm-8" data-layout-fragment="content">
		<h1 class="mb-2">Status</h1>
		<form data-th-action="@{/status/add}" data-th-object="${status}"
			method="post">
 			<input type="hidden" data-th-field="*{id}" />
			<p>
				Text:<br />			
				<input class="mb-4" type="text" data-th-field="*{text}" />
			</p>
			<p >
				<input type="submit" value="Submit" /> <input type="reset"
					value="Reset" />
			</p>
		</form>
	</div>
	<div data-layout-decorator="scripts"></div>
</body>
</html>


